<div class="nav mat-elevation-z4" [class.expanded]="isExpanded">
  <div class="captor_icon">
    <img *ngIf="!isExpanded" src="../assets/img/captorIcon.png" style="width: 30px; padding-top: 4px">
    <img *ngIf="isExpanded" src="../assets/img/captorIconFull.png" style="width:175px; padding-top: 4px">
  </div>
  <div class="nav_toggle-btn">
    <button mat-mini-fab color="primary" aria-label="Navigation toggle button" (click)="toggleNavigation()">
      <mat-icon class="deep-background">{{isExpanded ? 'keyboard_arrow_left' : 'keyboard_arrow_right'}}</mat-icon>
    </button>
    <div class="nav_background-line"></div>
  </div>
  <ng-container *ngIf="isExpanded && isReady">
    <div class="nav_header">
      <h3>Navigation</h3>
    </div>
    <!--Expanded navigation-->
    <div class="nav_content expanded hide-scrollbar">
      <mat-accordion multi>
        <mat-expansion-panel *ngFor="let item of navItems" [hideToggle]="!item.children" [disabled]="!item.children"
          (opened)="item.isOpen = true" (closed)="item.isOpen = false">
          <mat-expansion-panel-header class="nav_btn">
            <div class="nav_btn-item">
              <mat-icon>{{item.icon}}</mat-icon> {{item.name}}
            </div>
          </mat-expansion-panel-header>
          <mat-nav-list class="nav_submenu" *ngIf="item.isOpen">
            <a class="nav_submenu-item" *ngFor="let child of item.children" mat-list-item
              [routerLink]="child.url">{{child.name}}</a>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </ng-container>

  <!-- Collapsed navigation-->
  <mat-nav-list *ngIf="!isExpanded" class="nav_content collapsed hide-scrollbar" [@listAnimation]="navItems.length">
    <a class="nav_sub-item" matTooltip="{{item.name}}" [matTooltipPosition]="'above'" [matTooltipTouchGestures]="'auto'"
      *ngFor="let item of navItems; let i = index" mat-list-item [matMenuTriggerFor]="item.children? submenu:null"
      (mouseover)="openSubmenu(i, item.children )">
      <mat-icon>{{item.icon}}</mat-icon>
    </a>
  </mat-nav-list>
</div>

<!-- Submenu -->
<mat-menu class="nav_submenu deep" #submenu="matMenu" style="pointer-events: auto" [hasBackdrop]="true"
  [xPosition]="'after'" [yPosition]="'above'" [overlapTrigger]="true">
  <ng-template matMenuContent>
    <a mat-menu-item class="nav_submenu-item" *ngFor="let item of activeChildNavItems">
      {{item.name}}
    </a>
  </ng-template>
</mat-menu>
