.app-container {
  position: absolute;
  top: 67px;
  left: 65px;
  right: 0px;
  bottom: 48px;
  padding: 30px 6vw;
  overflow-y: scroll;
  transition: width 0.3s;

  &.notification-opened {
    right: 260px;
  }
}
