<mat-toolbar-row class="col-12">
  <h2 style="color: rgba(248,151,29,.77)">View Case Assignment</h2>
</mat-toolbar-row>

<form class="viewUnitManagerAssignment">
  <div>
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" style="background-color: black;">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h2 style="color: rgba(248,151,29,.77); border-bottom: 2px solid rgba(248,151,29,.77)">SCI</h2>
          </mat-panel-title>
          <mat-panel-description>

          </mat-panel-description>
        </mat-expansion-panel-header>
 
  <div class="col-12" style="margin-top: 30px;">
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h2 style="color: rgba(248,151,29,.77)">Counselor</h2>
          </mat-panel-title>
          <mat-panel-description>

          </mat-panel-description>
        </mat-expansion-panel-header>

        <table mat-table [dataSource]="dataSourceStaff" class="mat-elevation-z8">

          <ng-container matColumnDef="assignedLocation">
            <th mat-header-cell *matHeaderCellDef> Location/Office </th>
            <td mat-cell *matCellDef="let element"> {{element.assignedLocation}} </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Staff Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}}

              <button mat-icon-button color="primary" *ngIf="element.endDate == undefined || element.endDate == null "
                aria-label="Delete" (click)="deleteStaff(element)">
                <mat-icon>manage_accounts</mat-icon>
              </button>

            </td>
          </ng-container>



          <ng-container matColumnDef="createdDate">
            <th mat-header-cell *matHeaderCellDef> Assigned Date </th>
            <td mat-cell *matCellDef="let element"> {{element.createdDate | date:'MM/dd/YYYY'}} </td>
          </ng-container>


          <ng-container matColumnDef="endDate">
            <th mat-header-cell *matHeaderCellDef> End Date </th>
            <td mat-cell *matCellDef="let element">

              <span *ngIf="element.endDate != undefined && element.endDate != null ">{{element.endDate |
                date:'MM/dd/YYYY'}} </span>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsStaff"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsStaff;">
          </tr>
        </table>
      </mat-expansion-panel>
    </mat-accordion>


  </div>

  <div class="col-12" style="margin-top: 30px;">
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h2 style="color: rgba(248,151,29,.77)">Unit Manager</h2>
          </mat-panel-title>
          <mat-panel-description>

          </mat-panel-description>
        </mat-expansion-panel-header>

        <table mat-table [dataSource]="dataSourceStaff" class="mat-elevation-z8">

          <ng-container matColumnDef="assignedLocation">
            <th mat-header-cell *matHeaderCellDef> Location/Office </th>
            <td mat-cell *matCellDef="let element"> {{element.assignedLocation}} </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Staff Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}}
              <button mat-icon-button color="primary" *ngIf="element.endDate == undefined || element.endDate == null "
                aria-label="Delete" (click)="deleteStaff(element)">
                <mat-icon>manage_accounts</mat-icon>
              </button>
            </td>
          </ng-container>



          <ng-container matColumnDef="createdDate">
            <th mat-header-cell *matHeaderCellDef> Assigned Date </th>
            <td mat-cell *matCellDef="let element"> {{element.createdDate | date:'MM/dd/YYYY'}} </td>
          </ng-container>


          <ng-container matColumnDef="endDate">
            <th mat-header-cell *matHeaderCellDef> End Date </th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf="element.endDate != undefined && element.endDate != null ">{{element.endDate |
                date:'MM/dd/YYYY'}} </span>

            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsStaff"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsStaff;">
          </tr>
        </table>

      </mat-expansion-panel>
    </mat-accordion>
  </div>


  <div class="col-12" style="margin-top: 30px;">
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h2 style="color: rgba(248,151,29,.77)">Social Worker</h2>
          </mat-panel-title>
          <mat-panel-description>

          </mat-panel-description>
        </mat-expansion-panel-header>

        <table mat-table [dataSource]="dataSourceStaff" class="mat-elevation-z8">

          <ng-container matColumnDef="assignedLocation">
            <th mat-header-cell *matHeaderCellDef> Location/Office </th>
            <td mat-cell *matCellDef="let element"> {{element.assignedLocation}} </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Staff Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}}
              <button mat-icon-button color="primary" *ngIf="element.endDate == undefined || element.endDate == null "
                aria-label="Delete" (click)="deleteStaff(element)">
                <mat-icon>manage_accounts</mat-icon>
              </button>
            </td>
          </ng-container>



          <ng-container matColumnDef="createdDate">
            <th mat-header-cell *matHeaderCellDef> Assigned Date </th>
            <td mat-cell *matCellDef="let element"> {{element.createdDate | date:'MM/dd/YYYY'}} </td>
          </ng-container>


          <ng-container matColumnDef="endDate">
            <th mat-header-cell *matHeaderCellDef> End Date </th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf="element.endDate != undefined && element.endDate != null ">{{element.endDate |
                date:'MM/dd/YYYY'}} </span>

            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsStaff"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsStaff;">
          </tr>
        </table>

      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="col-12" style="margin-top: 30px;">
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h2 style="color: rgba(248,151,29,.77)">DATS</h2>
          </mat-panel-title>
          <mat-panel-description>

          </mat-panel-description>
        </mat-expansion-panel-header>

        <table mat-table [dataSource]="dataSourceStaff" class="mat-elevation-z8">

          <ng-container matColumnDef="assignedLocation">
            <th mat-header-cell *matHeaderCellDef> Location/Office </th>
            <td mat-cell *matCellDef="let element"> {{element.assignedLocation}} </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Staff Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}}
              <button mat-icon-button color="primary" *ngIf="element.endDate == undefined || element.endDate == null "
                aria-label="Delete" (click)="deleteStaff(element)">
                <mat-icon>manage_accounts</mat-icon>
              </button>
            </td>
          </ng-container>



          <ng-container matColumnDef="createdDate">
            <th mat-header-cell *matHeaderCellDef> Assigned Date </th>
            <td mat-cell *matCellDef="let element"> {{element.createdDate | date:'MM/dd/YYYY'}} </td>
          </ng-container>


          <ng-container matColumnDef="endDate">
            <th mat-header-cell *matHeaderCellDef> End Date </th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf="element.endDate != undefined && element.endDate != null ">{{element.endDate |
                date:'MM/dd/YYYY'}} </span>

            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsStaff"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsStaff;">
          </tr>
        </table>

      </mat-expansion-panel>
    </mat-accordion>
  </div>
</mat-expansion-panel>
</mat-accordion>
</div>
<div style="margin-top:20px">
<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" style="background-color: black;">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h2 style="color: rgba(248,151,29,.77); border-bottom: 2px solid rgba(248,151,29,.77)">Parole</h2>
      </mat-panel-title>
      <mat-panel-description>

      </mat-panel-description>
    </mat-expansion-panel-header>

  <div class="col-12" style="margin-top: 30px;">
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h2 style="color: rgba(248,151,29,.77);width:600px">Institutional Parole Agent Supervisor</h2>
          </mat-panel-title>
          <mat-panel-description>

          </mat-panel-description>
        </mat-expansion-panel-header>

        <table mat-table [dataSource]="dataSourceStaff" class="mat-elevation-z8">

          <ng-container matColumnDef="assignedLocation">
            <th mat-header-cell *matHeaderCellDef> Location/Office </th>
            <td mat-cell *matCellDef="let element"> {{element.assignedLocation}} </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Staff Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}}

              <button mat-icon-button color="primary" *ngIf="element.endDate == undefined || element.endDate == null "
                aria-label="Delete" (click)="deleteStaff(element)">
                <mat-icon>manage_accounts</mat-icon>
              </button>

            </td>
          </ng-container>



          <ng-container matColumnDef="createdDate">
            <th mat-header-cell *matHeaderCellDef> Assigned Date </th>
            <td mat-cell *matCellDef="let element"> {{element.createdDate | date:'MM/dd/YYYY'}} </td>
          </ng-container>


          <ng-container matColumnDef="endDate">
            <th mat-header-cell *matHeaderCellDef> End Date </th>
            <td mat-cell *matCellDef="let element">

              <span *ngIf="element.endDate != undefined && element.endDate != null ">{{element.endDate |
                date:'MM/dd/YYYY'}} </span>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsStaff"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsStaff;">
          </tr>
        </table>
      </mat-expansion-panel>
    </mat-accordion>



  </div>
  <div class="col-12" style="margin-top: 30px;">
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h2 style="color: rgba(248,151,29,.77)">Institutional Parole Agent</h2>
          </mat-panel-title>
          <mat-panel-description>

          </mat-panel-description>
        </mat-expansion-panel-header>

        <table mat-table [dataSource]="dataSourceStaff" class="mat-elevation-z8">

          <ng-container matColumnDef="assignedLocation">
            <th mat-header-cell *matHeaderCellDef> Location/Office </th>
            <td mat-cell *matCellDef="let element"> {{element.assignedLocation}} </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Staff Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}}

              <button mat-icon-button color="primary" *ngIf="element.endDate == undefined || element.endDate == null "
                aria-label="Delete" (click)="deleteStaff(element)">
                <mat-icon>manage_accounts</mat-icon>
              </button>

            </td>
          </ng-container>



          <ng-container matColumnDef="createdDate">
            <th mat-header-cell *matHeaderCellDef> Assigned Date </th>
            <td mat-cell *matCellDef="let element"> {{element.createdDate | date:'MM/dd/YYYY'}} </td>
          </ng-container>


          <ng-container matColumnDef="endDate">
            <th mat-header-cell *matHeaderCellDef> End Date </th>
            <td mat-cell *matCellDef="let element">

              <span *ngIf="element.endDate != undefined && element.endDate != null ">{{element.endDate |
                date:'MM/dd/YYYY'}} </span>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsStaff"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsStaff;">
          </tr>
        </table>
      </mat-expansion-panel>
    </mat-accordion>


  </div>
  <div class="col-12" style="margin-top: 30px;">
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h2 style="color: rgba(248,151,29,.77)">Field Parole Agent Supervisor</h2>
          </mat-panel-title>
          <mat-panel-description>

          </mat-panel-description>
        </mat-expansion-panel-header>

        <table mat-table [dataSource]="dataSourceStaff" class="mat-elevation-z8">

          <ng-container matColumnDef="assignedLocation">
            <th mat-header-cell *matHeaderCellDef> Location/Office </th>
            <td mat-cell *matCellDef="let element"> {{element.assignedLocation}} </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Staff Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}}

              <button mat-icon-button color="primary" *ngIf="element.endDate == undefined || element.endDate == null "
                aria-label="Delete" (click)="deleteStaff(element)">
                <mat-icon>manage_accounts</mat-icon>
              </button>

            </td>
          </ng-container>



          <ng-container matColumnDef="createdDate">
            <th mat-header-cell *matHeaderCellDef> Assigned Date </th>
            <td mat-cell *matCellDef="let element"> {{element.createdDate | date:'MM/dd/YYYY'}} </td>
          </ng-container>


          <ng-container matColumnDef="endDate">
            <th mat-header-cell *matHeaderCellDef> End Date </th>
            <td mat-cell *matCellDef="let element">

              <span *ngIf="element.endDate != undefined && element.endDate != null ">{{element.endDate |
                date:'MM/dd/YYYY'}} </span>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsStaff"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsStaff;">
          </tr>
        </table>
      </mat-expansion-panel>
    </mat-accordion>



  </div>
  <div class="col-12" style="margin-top: 30px;">
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h2 style="color: rgba(248,151,29,.77)">Field Parole Agent</h2>
          </mat-panel-title>
          <mat-panel-description>

          </mat-panel-description>
        </mat-expansion-panel-header>

        <table mat-table [dataSource]="dataSourceStaff" class="mat-elevation-z8">

          <ng-container matColumnDef="assignedLocation">
            <th mat-header-cell *matHeaderCellDef> Location/Office </th>
            <td mat-cell *matCellDef="let element"> {{element.assignedLocation}} </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Staff Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}}

              <button mat-icon-button color="primary" *ngIf="element.endDate == undefined || element.endDate == null "
                aria-label="Delete" (click)="deleteStaff(element)">
                <mat-icon>manage_accounts</mat-icon>
              </button>

            </td>
          </ng-container>



          <ng-container matColumnDef="createdDate">
            <th mat-header-cell *matHeaderCellDef> Assigned Date </th>
            <td mat-cell *matCellDef="let element"> {{element.createdDate | date:'MM/dd/YYYY'}} </td>
          </ng-container>


          <ng-container matColumnDef="endDate">
            <th mat-header-cell *matHeaderCellDef> End Date </th>
            <td mat-cell *matCellDef="let element">

              <span *ngIf="element.endDate != undefined && element.endDate != null ">{{element.endDate |
                date:'MM/dd/YYYY'}} </span>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsStaff"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsStaff;">
          </tr>
        </table>
      </mat-expansion-panel>
    </mat-accordion>



  </div>
</mat-expansion-panel>
</mat-accordion>
</div>
<div style="margin-top:20px">
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" style="background-color: black;">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2 style="color: rgba(248,151,29,.77); border-bottom: 2px solid rgba(248,151,29,.77)">BCC</h2>
        </mat-panel-title>
        <mat-panel-description>
  
        </mat-panel-description>
      </mat-expansion-panel-header>
  <div class="col-12" style="margin-top: 30px;">
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h2 style="color: rgba(248,151,29,.77)">BCC Counselor</h2>
          </mat-panel-title>
          <mat-panel-description>

          </mat-panel-description>
        </mat-expansion-panel-header>

        <table mat-table [dataSource]="dataSourceStaff" class="mat-elevation-z8">

          <ng-container matColumnDef="assignedLocation">
            <th mat-header-cell *matHeaderCellDef> Location/Office </th>
            <td mat-cell *matCellDef="let element"> {{element.assignedLocation}} </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Staff Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}}

              <button mat-icon-button color="primary" *ngIf="element.endDate == undefined || element.endDate == null "
                aria-label="Delete" (click)="deleteStaff(element)">
                <mat-icon>manage_accounts</mat-icon>
              </button>

            </td>
          </ng-container>



          <ng-container matColumnDef="createdDate">
            <th mat-header-cell *matHeaderCellDef> Assigned Date </th>
            <td mat-cell *matCellDef="let element"> {{element.createdDate | date:'MM/dd/YYYY'}} </td>
          </ng-container>


          <ng-container matColumnDef="endDate">
            <th mat-header-cell *matHeaderCellDef> End Date </th>
            <td mat-cell *matCellDef="let element">

              <span *ngIf="element.endDate != undefined && element.endDate != null ">{{element.endDate |
                date:'MM/dd/YYYY'}} </span>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsStaff"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsStaff;">
          </tr>
        </table>
      </mat-expansion-panel>
    </mat-accordion>



  </div>
  <div class="col-12" style="margin-top: 30px;">
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h2 style="color: rgba(248,151,29,.77)">Social Worker</h2>
          </mat-panel-title>
          <mat-panel-description>

          </mat-panel-description>
        </mat-expansion-panel-header>

        <table mat-table [dataSource]="dataSourceStaff" class="mat-elevation-z8">

          <ng-container matColumnDef="assignedLocation">
            <th mat-header-cell *matHeaderCellDef> Location/Office </th>
            <td mat-cell *matCellDef="let element"> {{element.assignedLocation}} </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Staff Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}}

              <button mat-icon-button color="primary" *ngIf="element.endDate == undefined || element.endDate == null "
                aria-label="Delete" (click)="deleteStaff(element)">
                <mat-icon>manage_accounts</mat-icon>
              </button>

            </td>
          </ng-container>



          <ng-container matColumnDef="createdDate">
            <th mat-header-cell *matHeaderCellDef> Assigned Date </th>
            <td mat-cell *matCellDef="let element"> {{element.createdDate | date:'MM/dd/YYYY'}} </td>
          </ng-container>


          <ng-container matColumnDef="endDate">
            <th mat-header-cell *matHeaderCellDef> End Date </th>
            <td mat-cell *matCellDef="let element">

              <span *ngIf="element.endDate != undefined && element.endDate != null ">{{element.endDate |
                date:'MM/dd/YYYY'}} </span>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsStaff"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsStaff;">
          </tr>
        </table>
      </mat-expansion-panel>
    </mat-accordion>



  </div>
  <div class="col-12" style="margin-top: 30px;">
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h2 style="color: rgba(248,151,29,.77)">DATS</h2>
          </mat-panel-title>
          <mat-panel-description>

          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="example-button-container float-end">
          <button mat-fab color="warn" style="background-color:rgba(248,151,29,.77)" (click)="addStaff()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <h4 style="color: rgba(248,151,29,.77)">No Staff Assignment(s) Found</h4>
      </mat-expansion-panel>
    </mat-accordion>



  </div>
</mat-expansion-panel>
</mat-accordion>
  </div>


</form>