<div class="double-direction-select">
  <div class="column mat-elevation-z3">
    <label class="column_header" id="leftColumn">
      Employee
    </label>
    <ul cdkListbox cdkListboxMultiple aria-labelledby="leftColumn" class="column_listbox" id="leftColumn">
      <li cdkOption="{{item.value}}" id="{{item.name}}_{{item.value}}" *ngFor="let item of leftColumn"
        class="column_item" [class.selected]="newToLeft.indexOf(item.value) !== -1">
        {{item.name}}({{item.value}})
      </li>
    </ul>
  </div>
  <div class="buttons">
    <button mat-raised-button *ngIf="!isOneDirection" (click)="moveToLeft()"><mat-icon>chevron_left</mat-icon></button>
    <button mat-raised-button (click)="moveToRight()"><mat-icon>chevron_right</mat-icon></button>
  </div>
  <div class="column mat-elevation-z3">
    <label class="column_header" id="rightColumn">
      Employee
    </label>
    <ul cdkListbox cdkListboxMultiple aria-labelledby="rightColumn" class="column_listbox" id="rightColumn"
      [cdkListboxDisabled]="mode.oneDirection">
      <li cdkOption="{{item.value}}" [class.selected]="newToRight.indexOf(item.value) !== -1"
        *ngFor="let item of rightColumn" class="column_item">{{item.name}}({{item.value}})
      </li>
    </ul>
  </div>
</div>
