.nav {
  display: block;
  height: 100vh;
  width: 60px;
  position: absolute;
  z-index: 999;
  transition: width 0.3s ease-in;

  &.expanded {
    width: 280px;
    opacity: 0.9;
  }

  .captor_icon {
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav_toggle-btn {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .nav_background-line {
      position: absolute;
      width: 100%;
      z-index: -1;
    }
  }

  .nav_header {
    height: 50px;
    padding-left: 20px;
    padding-top: 10px;

    h3 {
      font-size: 22px;
      font-weight: 600;
    }
  }

  .nav_content {
    width: 100%;
    overflow-y: scroll;

    &.collapsed {
      height: calc(100vh - 135px);
      margin: 10px 0 0 0;
    }

    &.expanded {
      height: calc(100vh - 165px);

      mat-expansion-panel {
        border-radius: 0;
      }

      .nav_btn {
        font-weight: 500;

        &:hover {
          cursor: pointer;
        }

        .nav_btn-item {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          transition: none;

          &:hover {
            cursor: pointer;
          }

          mat-icon {
            margin-right: 8px;
            transition: inherit;
          }
        }
      }

      .nav_submenu {
        padding: 0;

        .nav_submenu-item {
          &:not(:last-of-type) {
            border-bottom: 2px solid;
          }
        }
      }
    }
  }


  ::ng-deep {
    &.mat-expansion-panel-body {
      padding: 2px 5px !important;
    }

    &.mat-expansion-panel-header {
      padding: 0 16px;

      &.mat-expanded {
        height: 48px;
      }
    }
  }
}

/* For submenu in collapsed mode */
::ng-deep {
  &.cdk-overlay-pane.submenu-cdk-overlay-container {
    margin-left: 59px !important;
  }

  &.cdk-overlay-backdrop.cdk-overlay-transparent-backdrop.cdk-overlay-backdrop-showing {
    margin-left: 60px;
  }
}


/*Fix for material list not scrolling on ipad issue  */
[mat-list-item] {
  touch-action: auto !important;
}
