<div class="nav expanded">
  <!-- <div class="nav_icon">icon</div>
  <div class="nav_toggle-btn">toggle button</div> -->
  <div class="nav_icon" style="width: 100%;">
    <img ng-src="https://dev.captor.cor.state.pa.us/CAPTORUI/content/img/captorlogo.png" class="logo" alt=""
      src="https://dev.captor.cor.state.pa.us/CAPTORUI/content/img/captorlogo.png">
  </div>
  <div class="nav_header">
    <h3>Navigation</h3>
  </div>
  <div class="nav_content">
    <mat-accordion multi>
      <mat-expansion-panel *ngFor="let item of navItems" [hideToggle]="!item.children" [disabled]="!item.children">
        <mat-expansion-panel-header class="nav_btn">
          <mat-panel-title class="nav_item">
            <mat-icon>{{item.icon}}</mat-icon> {{item.name}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list class="nav_sub-items">
          <a class="nav_sub-item" *ngFor="let child of item.children" mat-list-item
            [routerLink]="child.url">{{child.name}}</a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>