.nav {
  background-color: white;
  height: 100vh;
  position: fixed;
  // width: 300px;
  z-index: 999;
  top: 0px;

  &_icon {
    color: white;
    height: 65px;
    font-size: 25pt;
    background-color: rgba(241, 243, 244, 0.917);
    border-bottom: 3px white solid;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_toggle-btn {
    color: white;
    height: 50px;
    font-size: 25pt;
    display: flex;
    background-color: rgba(241, 243, 244, 0.854);
    justify-content: center;
    align-items: center;
  }

  &_header {
    margin-left: 20px;
    height: 50px;
  }

  &_content {
    overflow-y: scroll;
    height: calc(100% - 220px);
    padding-bottom: 20px;

    &::-webkit-scrollbar {
      width: 0;
      /* Hide the scrollbar for WebKit browsers */
    }

    &::-webkit-scrollbar-thumb {
      background-color: transparent;
      /* Hide the scrollbar thumb */
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
      /* Hide the scrollbar track */
    }
  }

  &.expanded {
    width: 280px;
  }

  &_btn {
    color: rgba(0, 0, 0, 0.87);

    &:hover {
      cursor: pointer;
      background: rgba(0, 0, 0, 0.04);
    }
  }

  &_item {
    mat-icon {
      margin-right: 8px;
    }
  }

  &_sub-items {
    background-color: rgba(241, 243, 244, 0.854);
    padding: 0;


    .nav_sub-item:not(:last-of-type) {
      border-bottom: 2px solid white;
    }
  }

  ::ng-deep {
    &.mat-expansion-panel-body {
      padding: 8px 4px !important;
    }
  }

  .mat-expansion-panel:not([class*=mat-elevation-z]):last-of-type {
    box-shadow: none;
  }
}