/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@include mat.core();

// html,
// body {
//   height: 100%;
// }

@import url(/node_modules/bootstrap/dist/css/bootstrap.css);
@import url(assets/material-icons.scss);

/* Import custom captor theme */
@import 'src/app/commonUI/theme/captor-theme.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.viewUnitManagerAssignment {
  .mat-expansion-indicator {
    &:after {
      color: orange;
    }
  }
}
